// Set your brand colors
// TODO 
$nwkorange: hsl(32, 100%, 50%);
$fhstpblue: #005096;
$nwkhorizon: #238b45;
$gridgrey: #fcfcfc;
$eventgrey: #f4f4f5;
$eventgreen: #a1d592;
$periodblue: #e6f2f8;
$periodborderblue: #afd3e3;
$navturquoise: #488193;
$navbutton: #36626f;
